:root {
  --blue: #2196f3;
  --white: #ffffff;
  --black: #212121;
  --gray: #757575;
  --dark-gray: #2f303a;
  --dirty-white: #f5f4fa;
  --border-white: #eeeeee;
  --light-gray: #afb1b8;
  --footer-icon-background: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
}

ul {
  list-style: none;
}

#header-container {
  height: 31px;
  padding: 0px;
  display: flex;
  align-items: center;
}

header {
  margin: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--blue);
}

#nav-logo {
  margin-right: 93px;
}

nav {
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
  margin-right: 294px;
}

#nav-list {
  width: 281px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.link {
  position: relative;
}

#current-page::after {
  position: absolute;
  content: "";
  background-color: var(--blue);
  left: 0;
  top: 265%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

#contacts {
  display: flex;
  gap: 30px;
}

.contacts-icon {
  display: flex;
  align-items: center;
  /* margin-right: 30px; */
}

#icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  /* position: relative;
  top: 2px; */
}

#icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contact-header-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 44px;
  font-weight: 900;
  color: var(--white);
  text-align: center;
}

#button-request {
  width: 261px;
  height: 50px;
  color: var(--white);
  border: none;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.flex-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin: 0px;
}

#bg-dirty-white {
  background-color: var(--dirty-white);
}

#bg-dark-gray {
  background-color: var(--dark-gray);
  height: 600px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bannerbackground.jpg);
  background-size: cover;
}

#attributes-container {
  padding-bottom: 0px;
}

.attribute-card {
  width: 270px;
  line-height: 24px;
}

.attribute-icon-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--dirty-white);
  border-radius: 4px;
  margin-bottom: 30px;
}

#icon-astronaut {
  width: 70px;
  height: 70px;
}

#icon-diagram {
  width: 70px;
  height: 54px;
}

#icon-clock {
  width: 67px;
  height: 70px;
}

#icon-antenna {
  width: 65.5px;
  height: 70px;
}

.attribute-title {
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 10px 0;
}

.attribute-content {
  color: var(--gray);
  font-size: 14px;
  margin: 0px;
}

#what-we-do-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 55.05px 0;
}

.what-we-do-item {
  position: relative;
  overflow: hidden;
  height: 294px;
  z-index: -1;
}

.what-we-do-item-title {
  position: absolute;
  padding: 27px 0px;
  color: var(--white);
  text-align: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.what-we-do-item-title p {
  margin: 0px;
  font-weight: 700;
}

#our-team-title {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 50px 0;
  text-align: center;
}

.team-member-card {
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-member-name {
  font-weight: 500;
  color: var(--black);
}

.team-member-role {
  color: var(--gray);
}

.team-member-card-social,
#footer-company-social {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 10px;
}

.team-member-card-social-icon {
  width: 40px;
  height: 40px;
  margin-top: 16px;
  fill: var(--light-gray);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.team-member-card-social-icon:hover,
.footer-social-icon:hover,
.team-member-card-social-icon-link:focus .team-member-card-social-icon,
.footer-social-icon-link:focus .footer-social-icon {
  fill: var(--white);
  background-color: var(--blue);
}

/* .team-member-card-social-icon-link:focus .team-member-card-social-icon{
  fill: green;
  background-color: brown;
} */

#clients {
  display: flex;
  gap: 30px;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

#clients-container {
  padding-top: 59px;
  padding-bottom: 151px;
}

#clients-title {
  margin-top: 0px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 44px;
}

.client-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 81px;
  border: 1px solid var(--light-gray);
  fill: var(--light-gray);
  border-radius: 4px;
}

.client-tile:hover,
.client-tile-link:focus .client-tile {
  fill: var(--blue);
  border-color: var(--blue);
}

.client-icon {
  width: 106px;
  height: 53px;
}

.button {
  height: 38px;
  background: var(--dirty-white);
  border-radius: 4px;
  color: var(--black);
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 26px;
  padding: 6px 24px;
}

.button:hover,
.button:focus {
  background: var(--blue);
  color: var(--white);
}

.link:hover,
.link:focus,
.contact-header-link:hover,
.contact-header-link:focus {
  color: var(--blue);
  fill: var(--blue);
}

a {
  text-decoration: none;
  color: var(--black);
}

#portfolio {
  height: 1360px;
  padding-top: 0px;
  margin-bottom: 82px;
}

.portfolio-item-card {
  width: 370px;
  height: 404px;
  left: calc(50% - 370px / 2);
  top: calc(50% - 404px / 2 - 464px);
  background: var(--white);
  border: 1px solid var(--border-white);
  display: flex;
  flex-direction: column;
}

.portfolio-item-image-container {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

/* .portfolio-item-image-container > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.portfolio-item-card:hover,
.portfolio-item-card:focus {
  background: var(--white);
  border: 1px solid var(--border-white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-item-data {
  margin: 20px 24px;
  height: 73.1px;
}

.portfolio-item-name {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
  margin-top: 0px;
}

.portfolio-item-description {
  color: var(--gray);
}

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-overlay > p {
  width: 322px;
  height: 168px;
  color: var(--white);
  size: 18px;
  line-height: 28px;
  margin: 0;
  letter-spacing: 0.03em;
}

.portfolio-item-card:hover .portfolio-item-overlay {
  transform: translatey(0);
}

#buttons-container {
  width: 1200px;
  margin-top: 106px;
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}

#filter-buttons {
  margin: 0 0 16px 0;
  width: 611px;
}

#portfolio-cards {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

footer {
  background-color: var(--dark-gray);
  height: 252px;
  margin: 0px;
}

#footer-container {
  display: flex;
  margin: 0 auto;
  padding: 60px 0;
  background-color: var(--dark-gray);
  height: 252px;
  align-items: top;
}

#footer-company-info {
  margin-right: 70px;
}

address {
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  color: var(--white);
  margin: 0px;
}

#company-address {
  margin-bottom: 0px;
}

.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
}

#footer-find-us-title {
  color: var(--white);
  font-weight: 700;
  font-size: 14px;
  margin-top: 12px;
}

.footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-top: 16px;
  fill: var(--white);
  background-color: var(--footer-icon-background);
  border-radius: 50%;
}

#footer-company-social-container {
  margin-right: 93px;
}

#footer-newsletter-suscription-form {
  display: flex;
  z-index: -1;
}

#footer-newsletter-suscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 12px;
  background-color: var(--dark-gray);
}

#footer-newsletter-suscription-label {
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
  color: var(--white);
}

#footer-newsletter-suscription-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background-color: var(--dark-gray);
  color: var(--white);
  padding: 15px 16px;
  outline: none;
}

#footer-newsletter-suscription-submit {
  width: 200px;
  height: 50px;
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--blue);
  color: var(--white);
  font-weight: 700;
  margin-top: 48px;
  cursor: pointer;
}

#footer-newsletter-suscription-submit-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#icon-send {
  fill: var(--white);
  height: 24px;
  width: 24px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  scale: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform-origin: left top;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  z-index: 3;
}

#modal-form-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 12px;
}

#modal-form-inputs {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-size: 12px;
  color: var(--gray);
  margin-bottom: 4px;
}

.modal-form-input {
  box-sizing: border-box;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 42px;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: var(--blue);
}

#icon-form-person {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 105px;
  left: 51px;
}

#icon-form-phone {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 172px;
  left: 51px;
}

#icon-form-email {
  width: 21px;
  height: 18px;
  position: absolute;
  top: 240px;
  left: 51px;
}

/* #customer-name:hover #icon-form-person{
  fill: var(--blue);
} */

/* #icon-form-person:focus-within{
  fill: var(--blue);
} */

/* .modal-form-label:focus-within {
  color: var(--blue);
} */

.modal-form-input:focus + .form-icon {
  fill: var(--blue);
}

.modal-form-textarea {
  resize: none;
  box-sizing: border-box;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  /* color: rgba(117, 117, 117, 0.5); */
  color: var(--black);
  font-size: 12px;
  outline: none;
  margin-bottom: 20px;
}

.modal-form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
}

#modal-form-agreement-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--gray);
  margin-bottom: 6px;
  position: relative;
  left: 11px;
}

#modal-form-agreement-checkbox {
  width: 16px;
  height: 15px;
  border-color: var(--black);
}

#modal-form-submit-area {
  display: flex;
  justify-content: center;
}

#modal-form-submit {
  width: 200px;
  height: 50px;
  background: var(--blue);
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}

#close-modal {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin: 9px;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

#icon-close-modal {
  width: 11px;
  height: 11px;
}

#close-modal:hover #icon-close-modal {
  fill: var(--blue);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden #modal {
  scale: 0;
}

/* #modal::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  margin: 9px;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
} */
